<html>
	<head>
		<title>About</title>
		<link rel="stylesheet" type="text/css" media="screen" href="css/screen.css" />
	</head>
	<body>
	<hr/>
	
	<div  id="mainbox" class="grid_8">
		<div class="featured-post" align="left">
		<h3>
		<p>This is an aggregator along the same lines as <a href="http://www.planetplanet.org/">Planet</a>, <a href="http://intertwingly.net/blog/2006/08/16/Venus-Rising">Venus</a> or <a href="http://intertwingly.net/blog/2007/12/19/Yet-Another-Planet-Refactoring">Mars</a>.</p>
		
		<p>Except with a little <a href="http://code.google.com/p/pubsubhubbub/">PubSubHubBub</a>. So if you have a <a href="http://code.google.com/p/pubsubhubbub/wiki/Companies">PSHB-enabled blog or feed</a> then your changes should turn up on this aggregator in a matter of seconds.</p>
		</h3>
		</div>
	</div>
	
	{% include "sidemenu_fragment.html" %}
	
	{% include "footer_fragment.html" %}

	
	</body>
</html>